<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    welcome
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  
 
  <link href="material-kit.css?v=2.0.5" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
  <!-- <script type="text/javascript" src="roadshare.js"></script> -->
  <script>
function newroute(){
  var startdate  = Math.floor(Date.now()/1000); 
  var user_id = $('#Did').val();
    var route_name = $('#Rid').val();
    var start_lat = $("#startLat").val();
    var start_long = $("#startLong").val();

    var end_lat = $("#endLat").val();
    var end_long = $("#endLong").val();

    var URL = "http://localhost:8080/newRoute"
    if (user_id == '' || route_name == ''){
    $('#error').html("Please fill in all the fields.");
  }
  else{
    $.ajax({
    type: "GET",
    url : URL,
    data: {"start_date": startdate, "user_id":user_id, "route_name": route_name, 
           "start_lat": start_lat, "start_long": start_long, "end_lat": end_lat, "end_long": start_long},
    contentType: "application/json; charset=utf-8",
    success:function(msg){  
 
      $('#msg').html("New route is created. your route_id is "+msg);
    },
    error:function(xhr,ajaxOptions,thrownError){
      //alert("error fetching "+ URL)
    }
    }); 
  }

}
  </script>
</head>

<body>


<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <h1 style="text-align: center; font-weight: bold;">Welcome</h1>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               
                <a href="index.html" class="btn btn-secondary btn-sm">log out</a>
            </li>
        </ul>

</nav>
  <div class="page-header header-filter" style="background-image: url('bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container" style="width: 20%; margin-left: 25%">


      <div class="card-body" style="background-color: white">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="Did" placeholder="Driver's id...">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">directions</i>
                    </span>
                  </div>
                     <input type="text" class="form-control" id="Rid" placeholder="Route name...">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="startLat" placeholder="Start Latitude">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="startLong" placeholder="Start Longitude">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="endLat" placeholder="End Latitude">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="endLong" placeholder="End Longitude">
                </div>

                <div id="newroute" class="input-group"> </div>
                <div class="input-group">
                  <a class="btn btn-primary btn-sm" onclick="newroute()">Create Route</a>
                  <a href="welcome.html" class="btn btn-primary btn-sm">Back</a>
                </div>
                <div id="msg" style="color: green"> </div>
                
      </div>     
    </div>
  </div>
  

</body>

</html>
