<html>
    <head>
        <title>RoadShare</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body>
        <h1>Welcome {{user}} to the app!</h1>
    </body>
</html>
