<!DOCTYPE html>
<html>
<head>
	<title>RoadShare</title>
	
	<style type="text/css">
		
		#map {
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
		}
	</style>
</head>
<body>
	<h1>RoadShare</h1>
	<div id="map"></div>
	<div id="answer"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRcz1PygeoeBld7HsyqvwnVbQg6_XldXA"></script>
	<script type="text/javascript">
		var markers = [];
		var myLatLng; 
		var URL = "http://localhost:8080/update";
		function initMap(){

			var myLatLng = {lat: 40, lng: -75};
			var options = {
				zoom:8,
				center: {lat: 40, lng: -75}
			}
			var map = new google.maps.Map(document.getElementById('map'),options); 

			// var marker = new google.maps.Marker({
			//   position: myLatLng,
			//   map: map,
			//   title: 'Hello World!'
			// });
		}
		google.maps.event.addDomListener(window,'load',initMap);

		$.ajax({
			type: "GET",
			url : URL, 
			dataType: "json",
			data : {"userid":userid},
			contentType: "application/json; charset=utf-8",
			success:function(msg){
				lt = msg.lat; 
				lg = msg.lng; 
				myLatLng = {lat: lt, lng: lg};
				mark();
				//initMap(lat,lng); 		
			},
			error: function(xhr, ajaxOptions, thrownError){
				alert("error fetching " +URL);
				//$("#answer").html("Error fetching ");
			}
		});	

		function mark(){
			var marker = new google.maps.Marker({
			  position: myLatLng,
			  map: map,
			  title: 'marker'
			});
		}
		
	</script> 

	<!-- <script src="views/roadshare_client.js"></script> -->
	
	
</body>
</html>
